.own-message {
    margin: 20px 0 20px 0;
    width: 500px;
    height: auto;
    background-color: #fff8f6;
    border-radius: 5px;
    border: 1px solid lightgray;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.1fr 2.7fr 0.1fr;
    grid-template-rows: 1.9fr 0.1fr;
    grid-template-areas:
            "edit-button message-text message-text "
            "edit-button own-time own-time ";
}

.message-text {
    grid-area: message-text;
    margin-top: 10px;
    margin-bottom: 10px;
}

.own-data-block {
    grid-area: own-time;
    color: #775;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.message-edit-block {
    grid-area: edit-button;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width: 1px;
}

.message-edit,
.message-delete {
    margin-right: 60px;
    background: transparent;
    border: none;
    outline: none;
}

.message-delete {
    margin-top: 20px;
    margin-right: 65px;
}

.edit-icon,
.delete-icon {
    font-size: 16px;
}

.edit-icon path,
.delete-icon path {
    color: #b4b4b4;
}

.edit-icon path:hover {
    color: gray;
}

.delete-icon path:hover {
    color: #ff8181;
}
