.message {
    margin: 20px 0 20px 0;
    width: 500px;
    min-height: auto;
    background-color: #e2e2e2;
    border-radius: 5px;
    border: 1px solid gray;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.5fr 2.3fr 0.1fr;
    grid-template-rows: 1.8fr 0.2fr;
    grid-template-areas:
                "avatar message-text like-button"
            "avatar user-name-time like-button";
}

.message:first-child {
    margin: 0 0 20px 0;
}

.message-user-avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-text {
    grid-area: message-text;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-user-name, .message-time {
    grid-area: user-name-time;
    margin-bottom: 10px;
    color: #775;
    font-size: 12px;
    font-style: italic;
}

.message-time {
    margin-right: 20px;
}

.message-user-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
}

.message-like-block {
    grid-area: like-button;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.message-like,
.message-liked {
    width: 20px;
    height: 20px;
    margin-left: calc(100% + 50px);
    cursor: pointer;
    background:transparent;
    border:none;
    outline:none;
}

.user-data-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-icon,
.message-liked-icon {
    font-size: 18px;
}

.like-icon path {
    color: lightgray;
}

.like-icon path:hover {
    color: gray;
}

.message-liked-icon path {
    color: #7ccdfd;
}

.message-liked-icon path:hover {
    color: #3eb5ff;
}
