.footer {
    background-color: lightgray;
    text-align: center;
    margin: 0 150px 0 150px;
    max-height: 30px;
    border-radius: 5px;
}

.footer span {
    align-items: center;
    font-size: 12px;
}
