.edit-message-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-shown {
    display: block;
}

.edit-message-modal h2 {
    text-align: center;
    color: gray;
    padding: 0 20px 20px 0;
}

.edit-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e2e2e2;
    opacity: 1;
    width: 40%;
    height: 35%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px white;
}

.edit-message-input {
    margin: 0 40px 0 40px;
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
}

.edit-message-buttons-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 30px;
    margin-right: 10px;
}

.edit-message-close {
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: none;
    margin-left: 20px;
}

.edit-message-close:hover {
    background-color: #f3f3f3;
}

.edit-message-button {
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: none;
    margin-left: 20px;
}

.edit-message-button:hover {
    background-color: #b8b8b8;
}
