.message-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 140px;
    background-color: #e2e2e2;
    margin: 10px 150px 0 150px;
    border-radius: 5px;
}

.message-input-text {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
}

.message-input-text:focus {
    box-shadow: 0 0 2px 2px white;
}

.message-input-button {
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: none;
    margin-left: 20px;
}

.message-input-button:hover,
.icon-arrow-up:hover path {
    background-color: #909090;
    color: white;
    border: 1px solid gray;
}

.icon-arrow-up {
    margin-left: 5px;
}
